certifi==2017.11.5
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==1.11.7
django-audit-log==0.7.0
django-rest-swagger==2.1.2
djangorestframework==3.7.3
idna==2.6
itypes==1.1.0
Jinja2==2.10
MarkupSafe==1.0
openapi-codec==1.3.2
pytz==2017.3
requests==2.18.4
simplejson==3.12.0
uritemplate==3.0.0
urllib3==1.22
psycopg2
graphene==1.4.1
graphene-django==1.3
graphql-core==1.1
graphql-relay==0.4.5
